.accueil {
	padding: 2rem;
	color: #fff;
	margin-top: 8rem;

	h2 {
		font-family: "Clash Display", sans-serif;
		color: #022b3a;
		text-align: center;
		font-size: 2rem;
	}

	.accueil-content {
		display: flex;
		align-items: flex-start; /* alignement vertical en haut */
		gap: 2rem; /* espace entre photo et cartes */
		.photo-profil {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			overflow: hidden;
			margin-top: -70px;
			transition: box-shadow 0.3s ease;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}

			&:hover {
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); // ombre ajoutée seulement au hover
			}
		}

		.liste-accueil {
			flex: 1; /* prend le reste de la place */
			display: grid;
			grid-template-columns: 1fr;
			gap: 5rem;

			@media (min-width: 768px) {
				grid-template-columns: 1fr 1fr;
			}

			@media (min-width: 1024px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}
