/* Reset simple */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Style global du body */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff8e5;
	color: #333;
	line-height: 1.6;
}
main {
	padding-right: 12rem; /* même largeur que ta navbar */
	display: flex;
	flex-direction: column;
	align-items: center;
}
