.card-Accueil {
	width: 50%;
	margin-bottom: 10px;
	padding: 1rem;
	border-radius: 1rem;

	&.expandable {
		cursor: pointer;

		.description {
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			transition: max-height 0.4s ease, opacity 0.4s ease;
			margin-top: 0;
		}
	}

	&.expanded {
		.description {
			max-height: 500px;
			opacity: 1;
			margin-top: 1rem;
		}
	}

	.card-logo {
		width: 60px;
		height: 60px;
		margin-bottom: 1rem;
	}
}
