.card-competences {
	background: #fff;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
	h2 {
		color: black;
	}
	h3 {
		color: black;
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}

	p {
		color: #666;
		margin-bottom: 1rem;
	}

	a {
		color: #3498db;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&:hover {
		box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
	}
}
