.contact-logos {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-top: 15rem;
}

.btn {
	width: 100px;
	height: 100px;
	display: grid;
	place-items: center;
	background: #e3edf7;
	padding: 1.4em;
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
		-6px -6px 10px -1px rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: transform 0.5s, box-shadow 0.5s, border-color 0.5s;
	text-decoration: none;
	i {
		font-size: 3rem;
		color: #002626;
		filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.6));
		transition: transform 0.5s, filter 0.5s, color 0.5s;
	}

	&:hover {
		box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
			inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
			-0.5px -0.5px 0 rgb(3, 3, 3), 0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
			0 12px 10px -10px rgba(0, 0, 0, 0.05);
		border: 1px solid rgba(0, 0, 0, 0.1);
		transform: translateY(0.5em);

		i {
			transform: scale(0.9) rotate(360deg);
			color: #00fff7;
			filter: drop-shadow(0 0 15px #00fff7);
		}
	}
}
