.contact-form-container {
	display: flex;

	align-items: center;
	min-height: 88vh;
	margin-right: 250px;
}
.contact-form {
	margin-right: 200px;
	background-color: #022b3a;
	padding: 0.5rem;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

	max-width: 70%;
	color: white;

	.input-nom,
	.input-email,
	.input-message {
		.MuiOutlinedInput-root {
			background-color: white;
			border-radius: 8px;

			// Supprimer la bordure bleue au focus
			&.Mui-focused fieldset {
				border-color: transparent !important;
				box-shadow: none;
			}

			// Bordure neutre par défaut
			fieldset {
				border-color: transparent;
			}
		}
	}

	// Style du label (avant clic)
	.MuiInputLabel-root {
		color: white;
		transform: translate(14px, 14px) scale(1); // Pour le garder dans le champ
	}

	// Style du label en focus (quand il remonte)
	.MuiInputLabel-root.Mui-focused {
		color: white;
	}

	.input-button {
		background-color: rgb(224, 233, 233);
		color: black;

		&:hover {
			background-color: beige;
		}
	}
}
