.footer {
	padding-top: 20px;

	color: black;
	padding: 2rem 20rem 2rem;
	text-align: center;

	.footer-contact {
		max-width: 600px;
		margin: 0 auto 2rem;
	}

	.footer-bottom {
		font-size: 0.9rem;
		opacity: 0.7;
	}
}
