.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0; /* L’animation GSAP prendra le relais */
	pointer-events: auto;
	z-index: 1000; /* Pour être sûr que la modale soit au-dessus */
}

.modal-content {
	background: black;
	padding: 20px;
	border-radius: 10px;
	color: white;
	width: 600px;
	height: auto;
	position: relative;
}

.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	line-height: 1;
}
