.projets {
	width: 100%;
	color: #fff;
	margin-top: 10rem;
	h2 {
		font-family: "Clash Display", sans-serif;
		color: #000;
		text-align: center;
		font-size: 2rem;
	}

	.liste-projets {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: 1024px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
