.skill-carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 1rem;
}

.skill-slide-container {
	display: flex;
	gap: 3rem;
}

.skill-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100px;
	min-height: 100px; // fixée pour éviter les sauts
	text-align: center;
}

.skill-icon {
	font-size: 100px;
}

.skill-name {
	margin-top: 0.5rem;
	font-size: 1rem;
	height: 1.5rem; // réserve un espace fixe pour le texte
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.boutonC {
	all: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 26px;
	height: 26px;

	border-radius: 50%;

	background-color: #022b3a;
	color: #ffec51;
	cursor: pointer;
	user-select: none;

	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease;

	&:focus {
		outline: 2px solid #ffec51;
		outline-offset: 2px;
	}
	svg {
		display: block;
		stroke-width: 2;
		stroke: currentColor;
		transition: transform 0.3s ease;
	}
}

.boutonC.prev svg {
	transform: rotate(180deg);
}

.boutonC.next svg {
	transform: rotate(0deg);
}
